.blog-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: auto;
}
.singleBlog{
    padding-bottom: 20px;
}
.card-details{
    margin: 10px 0 5px 0;
    padding:20px 10px;
    margin: 0 20px;
    border-radius: 5px;
    /* border: 1px solid blue;
    color: blue;  */
}
.showCard{
    background-color: grey;
}
@media screen and (min-width: 320px) and (max-width:575px) {

        .blog-container{
            display: grid;
            grid-template-columns: 1fr ;
            gap: auto;
     
    }
  }