
.blog-details {
    padding: 10px 10px;
    margin: 10px 30px;
}
.blog-details p{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 10px 10px;
    /* margin: 20px 30px; */
    text-align: center;
    font-weight: bolder;
    margin: 0px;
}
