.authorImage{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.authorDetals{
    display: flex;

}
.blogDetails{
    display: flex; 
    justify-content:space-around;
    align-items: center;
}
.btn{
    border-style: none;
    border-bottom: 1px solid blue;
    color: blue;
    
}